html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit;
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select, textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

*, :after, :before {
    box-sizing: border-box
}

button, input, textarea {
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

h1, h2, h3, h4, h5, h6 {
    font-family: ProximaNova-Bold;
}

hr {
    border: 0;
    border-bottom: 1px solid #b6b6b6;
    margin: 3rem 0
}

img {
    max-width: 100%;
    height: auto
}

body, html {
    font-size: 16px
}

body {
    color: #222;
    font-family: ProximaNova-Regular;
    background-color: #fff;
}

body.Body--pinkFullscreen {
    position: relative;
    background: -webkit-linear-gradient(300deg, #f74770, #f96c8d);
    background: linear-gradient(150deg, #f74770, #f96c8d);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden
}


body.Body--installing, body.Body--installingFail {
    overflow: hidden
}

body.Body--installing .Popup--installing {
    display: block;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    opacity: 1
}

a {
    color: #f74770;
    text-decoration: none
}

a:active, a:focus, a:hover {
    color: #f40b41;
    text-decoration: underline
}

b, strong {
    font-weight: 700
}

em, i {
    font-style: italic
}

.Container {
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 2rem
}

.Container--wide {
    max-width: 64rem
}

.Container--spread {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.Container--full {
    max-width: 100%
}

.Container--spaced {
    margin: 3rem auto
}

.Container--centered, .Footer {
    text-align: center
}

.Header-container {
    padding-top: 2rem;
    margin: 0 auto;
    display: block;
    text-align: center;
    height:5rem;
}

@media (min-width: 760px) {
    .Header-container {
        max-width: 64rem;
        text-align: left;
        padding: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media (min-width: 1020px) {
    .Header-container {
        max-width: 760px
    }
}

@media (min-width: 1280px) {
    .Header-container {
        max-width: 1020px
    }
}

.TopBackground {
    position: relative;
    background: #3494E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3494E6, #EC6EAD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3494E6, #EC6EAD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+,*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 1.6rem;
    padding-bottom: 14rem
}

@media (min-width: 760px) {
    .TopBackground {
        overflow: visible;
        padding-bottom: 0;
        background-size: 100% 40rem
    }
}

.TopBackground .Container {
    position: relative;
    z-index: 10
}

.TopBackground .u-hide--sm {
    display: none
}

@media (min-width: 760px) {
    .TopBackground .u-hide--sm {
        display: block
    }
}

@media (min-width: 760px) {
    .TopBackground--large {
        background-size: 100% 45rem
    }

    .TopBackground--large .Hero {
        margin-bottom: 5rem
    }
}

.TopBackground--small {
    background-size: 100%;
    padding-bottom: 0
}

.TopBackground--small .Header-container {
    max-width: 80%
}

.Button {
    display: inline-block;
    margin: 0 .125rem;
    padding: 1.2rem 1.7rem;
    border-radius: 3rem;
    cursor: pointer;
    border: 1px solid #fff;
    color: #5a7fd8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    outline: none
}

.Button:hover {
    background: #fff;
    text-decoration: none
}

.Button:active, .Button:focus {
    background: #3494E6;
    border: 1px solid #3494E6;
    color: #fff
}

.Button--small {
    padding: 1rem 1.4rem;
    font-size: .875rem
}

.Button--tertiary {
    margin-top: 1rem;
    background: #3494E6;
    border: 1px solid #3494E6;
    color: #fff;
}

.Button--tertiary:hover {
    background: #2383d5;
    border: 1px solid #2383d5;
    color: #fff
}

.Button--tertiary:active {
    background: #3494E6;
    border: 1px solid #3494E6;
    color: #fff
}

.Button u {
    text-decoration: none;
    border-bottom: 2px solid
}

.Form {
    margin-top: 3rem;
    text-align: center
}

@media (min-width: 760px) {
    .Form {
        margin-top: 1rem;
        text-align: center;
    }
}

.Form-input {
    background: #f2f2f2;
    width: 100%;
    max-width: 20rem;
    padding: .6rem 1rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    margin-bottom: .5rem;
    opacity: .9;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

.Form-input:focus {
    opacity: 1
}

.Form-input--textarea {
    resize: none;
    margin-bottom: 0
}

.Form-input--large {
    padding: 1.5rem 2rem;
    border-radius: 3rem
}

.Form--large {
    margin-top: 2rem
}

@media (min-width: 760px) {
    .Form--large .Form-input {
        max-width: none
    }
}

.Form-control {
    position: relative;
    display: block;
    margin-bottom: .5rem;
    padding-left: 1.5rem;
    cursor: pointer;
    text-align: left
}

.Form-control input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.Form-control--indicator {
    position: absolute;
    top: .375rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: #e8e9ec
}

.Form-control--indicator:after {
    position: absolute;
    display: none;
    content: ''
}

.Form-control--radio .Form-control--indicator {
    border-radius: 50%
}

.Form-control--radio .Form-control--indicator:after {
    top: .375rem;
    left: .375rem;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background: #fff
}

.Form-control:hover input ~ .Form-control--indicator, .Form-control input:focus ~ .Form-control--indicator {
    background: #f2f2f2
}

.Form-control input:checked ~ .Form-control--indicator {
    background: #3494E6
}

.Form-control input:checked ~ .Form-control--indicator:after {
    display: block
}

.Form-control:hover input:not([disabled]):checked ~ .Form-control--indicator, .Form-control input:checked:focus ~ .Form-control--indicator {
    background: #3494E6
}

.Goodbye {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0rem auto 0rem;
    line-height: 1.8;
    max-width: 26rem
}

@media (min-width: 760px) {
    .Goodbye {
        max-width: 64rem
    }
}

.Goodbye h1 {
    text-align: center
}

@media (min-width: 760px) {
    .Goodbye h1 {
        text-align: left
    }
}

.Goodbye h2 {
    color: #3494E6;
    margin-bottom: 1rem
}

.Goodbye section {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%
}

.Goodbye .Form {
    margin-top: 0
}

.Goodbye-photo {
    display: block;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    border-radius: 50%
}

.Goodbye-letter {
    display: none;
    font-size: .975rem;
    color: #6f6064;
    font-style: italic;
    line-height: 2;
    padding: 3rem;
    margin-right: 5rem;
    border: 1px solid #e8e9ec;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1)
}

@media (min-width: 760px) {
    .Goodbye-letter {
        display: block
    }
}


.Logo {
    display: inline-block;
    min-width: 3rem;
    min-height: 3rem;
    background-size: 3rem 3rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('../img/logo.png');
    font-family: ProximaNova-Bold;
    color: #fff;
    padding-left: 3.5rem;
    line-height: 3rem;
    font-size: 1.5rem;
    margin: 0 auto;
    text-decoration: none
}

@media (min-width: 760px) {
    .Logo {
        display: block
    }
}

.Logo:active, .Logo:focus, .Logo:hover {
    color: #fff;
    text-decoration: none
}

@media (min-width: 760px) {
    .Logo {
        margin: 0
    }
}

@media (min-width: 1020px) {
    .Mentioned-link {
        display: inline-block;
        margin: 0 2rem
    }
}

.Menu {
    list-style: none;
    padding: 0;
    margin: 2rem 0
}

@media (min-width: 760px) {
    .Menu {
        margin: 0
    }
}

.Menu-item {
    display: inline-block
}

.Menu-item a, .Menu-item a:visited {
    padding: .5rem;
    text-decoration: none;
    color: #fff
}

@media (min-width: 760px) {
    .Menu-item a, .Menu-item a:visited {
        padding: .5rem;
        margin: 0 .5rem
    }

    .Menu-item a:hover, .Menu-item a:visited:hover {
        border-bottom: 3px solid #fff
    }
}
.inputForm{
    margin-bottom: 1rem;
}