/* latin */
@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/pnregular-webfont.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'ProximaNova-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/pnbold-webfont.woff2') format('woff2');
}